.card {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 1px 1px 5px 2px #3338;
  padding: 20px;
  transition: .1s ease-out;
  -webkit-transition: .1s ease-out;
  -moz-transition: .1s ease-out;
  -ms-transition: .1s ease-out;
  -o-transition: .1s ease-out;
  font-weight: bold;
}

.card div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-white:hover {
  cursor: pointer;
}

.card-black {
  /* width: 225px;
  height: 300px; */
  font-size: larger;
  background-color: black;
  color: white;
}

.card-white {
  background-color: white;
  color: black;
}

.card-winner {
  border: 1px solid yellow;
  background-color: yellow;
}