.GameScreen {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#oponents {
  display: flex;
  flex-direction: row;
  background-color: #eef;
  padding: 10px;
}

#table {
  flex-grow: 1;
}

#player-hand {
  height: 150px;
  background-color: #eef;
  padding: 0 20px 0 20px;

}

#player-hand-card-container {

  display: flex;
  flex-direction: row;
  top: -30px;
  position: relative;

}

