.card {
  width: 150px;
  height: 200px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  box-shadow: 1px 1px 5px 2px #3338;
  padding: 20px;
  transition: .1s ease-out;
  -webkit-transition: .1s ease-out;
  -moz-transition: .1s ease-out;
  -ms-transition: .1s ease-out;
  -o-transition: .1s ease-out;

  font-weight: bold;
}

.card-1:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);

  cursor: pointer;
}


.card-0 {
  background-color: black;
  color: white;
}

.card-1 {
  background-color: white;
  color: black;
}

